<?xml version='1.0' encoding='UTF-8'?>
<settings xsi:schemaLocation='http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd'
          xmlns='http://maven.apache.org/SETTINGS/1.0.0' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'>
    <servers>
        <server>
            <id>bintray-blablanumerodeux-dakar</id>
            <username>blablanumerodeux</username>
            <password>${env.BINTRAY_API_KEY}</password>
        </server>
        <server>
            <id>docker.io</id>
            <username>${env.DOCKER_USR}</username>
            <password>${env.DOCKER_PWD}</password>
            <configuration>
                <email>${env.DOCKER_EMAIL}</email>
            </configuration>
        </server>
        <server>
            <id>central</id>
            <username>blablanumerodeux</username>
            <password>${env.JFROG_API_KEY}</password>
        </server>
        <server>
            <id>snapshots</id>
            <username>blablanumerodeux</username>
            <password>${env.JFROG_API_KEY}</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <repositories>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>bintray-blablanumerodeux-dakar</id>
                    <name>bintray</name>
                    <url>https://dl.bintray.com/dakarinternational/dakar</url>
                </repository>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>central</id>
                    <name>bintray</name>
                    <url>http://jcenter.bintray.com</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>bintray-blablanumerodeux-dakar</id>
                    <name>bintray-plugins</name>
                    <url>https://dl.bintray.com/dakarinternational/dakar</url>
                </pluginRepository>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>central</id>
                    <name>bintray-plugins</name>
                    <url>http://jcenter.bintray.com</url>
                </pluginRepository>
            </pluginRepositories>
            <id>bintray</id>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>bintray</activeProfile>
    </activeProfiles>
</settings>
